<div class="tree-root">
  {{#each analyzis.tree}}
    {{>sentencePart part=.}}
  {{/each}}
</div>
<article>
  <details name="remark">
    <summary>Remark</summary>
    <p>{{analyzis.structure}}</p>
    <p>{{analyzis.wordOrder}}</p>
    <p>{{analyzis.caseUsage}}</p>
    <p>{{analyzis.explanation}}</p>
    <br />
    <ul>
      {{#each analyzis.references}}
      <li>
        <a href="{{this.ref}}">{{this.type}}</a>
      </li>
      {{/each}}
    </ul>
  </details>
</article>