<h1><a href="/">Spirituös</a></h1>
<hr />
<div class="top-wrapper">
  <div class="sentence-wrapper">
    <div>
      <p><strong>{{ sentence.german }}</strong></p>
      <p>{{ sentence.english }}</p>
    </div>
    <audio controls src="{{ sentence.audio }}"></audio>
  </div>
  <div class="button-wrapper">
    {{#if hasPrevious}}
    <a href="/saved/{{previous}}">
      <button class="icon" title="Previous">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
      </button>
    </a>
    {{/if}}
    {{#if saveable}}
    <button class="icon" id="save" title="Save" hx-post="/save" hx-include="#sentenceHolder, #analyzisHolder" hx-swap="none">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0 1 20.25 6v12A2.25 2.25 0 0 1 18 20.25H6A2.25 2.25 0 0 1 3.75 18V6A2.25 2.25 0 0 1 6 3.75h1.5m9 0h-9" />
      </svg>
    </button>
    {{/if}}
    {{#if hasNext}}
    <a href="/saved/{{next}}">
      <button class="icon" title="Next">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
      </button>
    </a>
    {{/if}}
  </div>
</div>
<input name="sentence" id="sentenceHolder" value="{{ stringify sentence }}" hidden/>
{{#if analyzis}}
  {{> analyzis_partial}}
{{else}}
  <div hx-get="/analyzis/{{ urlEncoded sentence.german }}" hx-trigger="load" >
    <div aria-busy="true"></div>
  </div>
{{/if}}